/*This is a table layout for the main section, that is used to draw the documents*/

.table {
  animation: fadeIn 1s;
  width: calc(100% - 50px);
  tr {
    width: 100%;
  }
  thead {
    * {
      font-family: MTSSansReg;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #a9b4c4;
    }
  }
  tbody {
    * {
      font-family: MTSSansReg;
      font-size: 14px;
      height: 56px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    td.number1 {
      width: 15%;
      left: calc(6.25vw);
    }
    td.client_name {
      width: 45%;
      left: calc(26.25vw);
    }
    td.issue_date {
      width: 15.7%;
      left: calc(60vw);
    }
    td.issue_status {
      width: 15%;
      left: calc(71.25vw);
    }
    td.show_more {
      width: 20px;
      * {
        color: #dadada;
        font-size: 20px;
      }

      * {
        justify-content: center;
      }
      &:hover {
        * {
          color: #242424;
        }
      }
    }
    tr:hover {
      border-radius: 8px;
      animation: pulse 0.5s;
      animation-fill-mode: forwards;
    }

    .align-vertically {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .align-vertically.is-signed {
      color: rgb(0, 193, 155);
    }
    .align-vertically.is-not-signed {
      color: rgb(250, 138, 100);
    }
  }
}
