.documents {
    width: calc(100% - 64px);
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column; 
    left: 32px;
    .document{
        font-family: MTSSansReg;
        border-radius: 8px;
        border-top: 1px solid #E4E8EF;
        border-bottom: 1px solid #E4E8EF;
        height: 6.25vh;
        display: flex;
        align-items: center;
        min-height: 35px;
        *{
            font-size: 14px;
            color: black;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .number{
            width: 20%;
            position: relative;
            left: calc(6.25vw);
        }
        .client_name{
            width: 35.5%;
            position: absolute;
            left: calc(26.25vw);
        }
        .issue_date{
            width: 11.7%;
            position: absolute;
            left: calc(60vw);
        }
        .issue_status{
            width: 10%;
            color: chocolate;
            position: absolute;
            left: calc(71.25vw);
        }
        .show_more{
            *{color: #DADADA;
                
            font-size: 20px;
            }
            position: absolute;
            right: 32px;
            &:hover{
                *{color: #242424;}
            }
        }
    }
}