.table{
    width: calc(100% - 50px);
    tr{
        width: 100%;
    }
    thead{
        *{
            font-family: MTSSansReg;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #A9B4C4;
        }

    }
    tbody{
        
        *{
            font-family: MTSSansReg;
            font-size: 14px;
            color: black;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        td.number1{
            width: 15%;
            height: 56px;
            left: calc(6.25vw);
        }
        td.client_name{
            width: 45%;
            left: calc(26.25vw);
        }
        td.issue_date{
            width: 15.7%;
            left: calc(60vw);
        }
        td.issue_status{
            width: 15%;
            color: chocolate;
            
            left: calc(71.25vw);
        }
        td.show_more{
            width:20px;
            *{color: #DADADA;
            font-size: 20px;
            }
            &:hover{
                *{color: #242424;}
            }
        }
    }
}
