.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% - 3em);
    height: calc(6.25vh*10 + 112px); 
    min-height: 462px;
}
hr{
    position: absolute;
    top: 140px;
    margin-left: 32px;
    width: calc(100% - 64px);
    border: 1px solid #E4E8EF;
};
