.table-description {
    width: 100%;
    
    top: 159px;
    *{
        font-family: MTSSansReg;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    h2{
        *{color: #A9B4C4;
        height: 16px;
        width: 32px;
        :hover{
            color: slategray;
        }}
    }

    #number{
        width: 20%;
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 6.25vw);
    }
    #first{
        width: 35.5%;
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 26.25vw);
    }
    #second{
        width: calc(11.7% - 20px);
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 60vw);
    }
    #third{
        width: 10%;
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 71.25vw);
    }
}