.table-description {
    width: 100%;
    top: 159px;
    *{
        font-family: MTSSansReg;
        font-size: 14px;
        }

    #number{
        width: 20%;
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 6.25vw);
    }
    #first{
        width: 33%;
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 26.25vw);
    }
    #second{
        width: 16.5%;
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 60vw);
    }
    #third{
        width: 25%;
        line-height: 16px;
        color: #A9B4C4;
        position: absolute;
        left: calc(32px + 71.25vw);
    }
}