@font-face {
    font-family: 'MTSSans';
    src: url('http://3.23.57.97/static/MTSSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'MTSSansReg';
    src: url('http://3.23.57.97/static/MTSSans-Regular.otf') format('opentype');
}
*{
    padding: 0;
    margin: 0;
    color: black;
}

@import 'documents';
@import "header";
@import 'search_component';
@import 'main';
@import 'react-pdf__Page';
@import 'modal-window';
@import 'animations';